.customContactUs {
    color: #EEEEEE;

}

.formContainer {
    background-color: #EEEEEE;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75);
}

.formContainer h1 {
    color: #373A40;
}

.customInput {
    outline-color: #DC5F00;
    color: #686D76;
    font-style: italic;
    border: 1px solid #686D76;
}

.customInput::placeholder {
    font-style: italic;
    color: #373A40;
}

.contactUsBtn {
    cursor: pointer;
    position: relative;
    color: #DC5F00;
    border: 2px solid #DC5F00;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.contactUsBtn::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #DC5F00;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.contactUsBtn:hover::before {
    scale: 3;
}

.contactUsBtn:hover {
    color: #373A40;
    scale: 1.1;
    box-shadow: 0 0px 4px #DC5F00;
}

.contactUsBtn:active {
    scale: 1;
}

.contactDetails {
    color: #373A40;
}